In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
sns.set_style('whitegrid')
# Define the variables for the Percent to target based on historical results
avg = 1
std_dev = .1
num_reps = 500
num_simulations = 1000

# Show an example of calculating the percent to target
pct_to_target = np.random.normal(avg, std_dev, num_reps).round(2)
pct_to_target[0:10]

# Another example for the sales target distribution
sales_target_values = [75_000, 100_000, 200_000, 300_000, 400_000, 500_000]
sales_target_prob = [.3, .3, .2, .1, .05, .05]
sales_target = np.random.choice(sales_target_values, num_reps, p=sales_target_prob)
sales_target[0:10]

# Show how to create the dataframe
df = pd.DataFrame(index=range(num_reps), data={'Pct_To_Target': pct_to_target,
                                               'Sales_Target': sales_target})
df.head()

   Pct_To_Target  Sales_Target
0           1.01         75000
1           0.96        200000
2           1.02         75000
3           0.99        100000
4           1.03        200000